<nav class="navbar navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="/" >
    CoinEd
  </a>

  <div>
    <button class="btn btn-outline-light" routerLink="/settings">
      Settings
    </button>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="/new/transaction">
      Create transaction
    </button>
    &nbsp;
    <button class="btn btn-outline-light" routerLink="/new/transaction/pending" *ngIf="blockchain.pendingTransactions.length!==0">
      Pending transactions {{ blockchain.pendingTransactions.length }}
    </button>
  </div>
</nav>
<router-outlet></router-outlet>